fastapi
uvicorn
python-multipart
numpy
pillow
tensorflow
scikit-learn
joblib
gdown
python-dotenv
groq
faiss-cpu
pdfplumber
langchain-text-splitters
reportlab
ddgs
SQLAlchemy
passlib[bcrypt]
python-jose
